body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
   
}

.dashboard {
  display: flex;
  height: 100vh; 
}

.sidebar {
  width: 250px; 
  background-color: #D6B2C4;
  color: #FFFFFF; 
  transition: width 0.3s;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar.collapsed {
  width: 80px; 
}

.sidebar-title {
  font-size: 24px; 
  margin-bottom: 20px;
  color: #aa9a66; 
}

.sidebar ul {
  list-style: none; 
  padding: 0;
}

.sidebar li {
  margin: 15px 0; 
}

.sidebar a {
  color: #FFFFFF; 
  text-decoration: none; 
  display: flex; 
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s;
  white-space: nowrap;
}

.sidebar a:hover {
  background-color: #C4BBAA; 
}

.sidebar a svg {
  margin-right: 10px;
  font-size: 28px; 
}


.sidebar.collapsed a svg {
  font-size: 28px;
}


.sidebar.collapsed a span {
  display: none; 
}


.sidebar a span {
  transition: opacity 0.3s;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #F8F4E3; 
  border: 1px solid #D6B2C4; 
  overflow-y: auto; 
}

.dashboard-header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #D6CDAF;
  color: #7D8C9C; 
  padding: 10px 20px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

.toggle-button {
  background: transparent; 
  border: none;
  color: #7D8C9C; 
  cursor: pointer; 
  font-size: 20px; 
}

.toggle-button:hover {
  opacity: 0.8;
}

.overview {
  padding: 20px; 
  background-color: #F8F4E3;
  border: 1px solid #D6B2C4; 
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.overview h2 {
  color: #7D8C9C; 
  font-size: 28px;
  margin-bottom: 20px; 
}

.summary-cards {
  display: flex; 
  justify-content: space-between; 
  flex-wrap: wrap; 
}

.card {
  background-color: #D6CDAF; 
  color: #7D8C9C; 
  padding: 20px; 
  border-radius: 8px; 
  flex: 1; 
  margin: 10px; 
  min-width: 180px; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s; 
}

.card:hover {
  transform: translateY(-5px); 
}

.card h3 {
  margin: 0; 
  font-size: 22px; 
}

.card p {
  font-size: 18px;
  margin-top: 5px; 
}


.alerts {
  margin-top: 20px; 
  padding: 15px; 
  background-color: #D6B2C4;
  border-radius: 8px; 
}

.alerts h3 {
  color: #FFFFFF; 
}

.alerts ul {
  list-style: none; 
  padding: 0; 
  color: #FFFFFF; 
}

.alerts li {
  margin: 5px 0; 
}
.settings {
  padding: 20px; 
  background-color: #F8F4E3; 
  border: 1px solid #D6B2C4;
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.settings h2 {
  color: #7D8C9C; 
  font-size: 28px;
  margin-bottom: 20px; 
}

.settings form {
  display: flex;
  flex-direction: column; 
  margin-bottom: 20px;
}

.settings label {
  margin-top: 10px; 
  color: #7D8C9C; 
}

.settings input,
.settings select {
  padding: 10px; 
  border: 1px solid #D6B2C4; 
  border-radius: 4px; 
  margin-top: 5px;
}

.settings button {
  margin-top: 15px; 
  padding: 10px; 
  background-color: #D6B2C4; 
  color: #FFFFFF; 
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.settings button:hover {
  background-color: #C4BBAA; 
}

.notification-settings {
  margin-top: 20px; 
}

.notification-settings label {
  margin: 10px 0;
}


.form-container {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding: 40px 0;
}


.form-box {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin-top: 10px; 
}


.form-header {
  text-align: center;
  margin-bottom: 20px;
}

.form-subtext {
  text-align: center;
  margin-bottom: 30px;
  color: #6c757d;
}


.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #D6B2C4;
}


.textarea {
  min-height: 80px;
}


.form-button {
  width: 100%;
  padding: 10px;
  background-color: #D6B2C4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}


::-webkit-scrollbar{
  display: none;
}

.loginpage{
  background: url("./assets/images/image1.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}

.logincard{
  background: rgba(225, 225, 225, 0.09);
  box-shadow: 8px 8px 40px rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 2px solid rgba(225, 225, 225, 0.61);
  z-index: 999;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 22px;
  grid-row-gap: 0px;
  }